@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
  background-color: #2a3178;
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image: url("../images/flag.jpg");
  color: white;
}

header h1 {
  font-family: 'Lato', sans-serif;
  letter-spacing: .1em;
  font-size: 5em;
  margin: 0;
  padding-top: .25em;
  text-align: center;
}
header h2 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-bottom: 1em;
  text-align: center;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 2em;
  color: #2a3178;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  background-color: #b9b4b5;
  padding: 5px 0;
  text-align: center;
  border-top: 2px solid #bb010a;
  border-bottom: 2px solid #bb010a;
}

nav a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 0 35px;
  color: #2a3178;
}

.floatright {
  float: right;
  margin-left: 10px;
}

ul {
  list-style-image: url('../images/star.png');
}

#navLinks {
  margin: 0 auto;
}

#maincolumn {
  margin: 0 auto;
  width: 970px;
  background-color: white;
  padding: 5px 15px;
  font-family: 'Alike', serif;
}
